@charset "UTF-";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html{
    background-color: rgb(69, 68, 68);
    height: 100vh;
    width: 100vh;


}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
}
section#login{
    background-color: white;
    width: 250px;
    height: 500px;
    color: black;
    border-top-left-radius: 25px ;
    border-bottom-right-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.096) ;
}
section#login > #img{
    background: black  url(imagens/cat-1507600_1920.jpg) no-repeat center center;
    background-size: cover;
    height: 200px;
}