@charset "UTF-";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html{
    background: #13F2DC;
    height: 100vh;
    width: 100vw;


}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
}
section#login{
    background-color: white;
    width: 290px;
    height: 480px;
    color: black;
    border-radius: 15px;
    position: absolute;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.662) ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s, heiht .3s;
    transition-timing-function: ease;
}
section#login > #img{
    display: block;
    background: black  url(imagens/owl-7156953_1280.jpg) no-repeat center center;
    background-size: cover;
    height: 170px;
}
#login > #form{
    padding: 10px;
    display: block;
}